{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bill.mamashin.ru</title>
    <meta name="description" content="mamashin.org">
    <meta name="keywords" content="network support">
    <meta property="og:title" content="mamashin.org">
    <meta property="og:description" content="network support">
    <meta property="og:url" content="https://mamashin.org">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://mamashin.org/img/og.png">
    <link rel="stylesheet" href="{% static '/css/new.css' %}">
</head>
<body>
    <header>
        <h1>mamashin.org</h1>
    </header>

    <h1>Heading 1</h1>
    <p>This is paragraph text.</p>

</body>

</html>
